# Python
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/

# Data (large)
data/

# Model checkpoints (large)
*.pth
*.pt

# Virtual env
venv/
.venv/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.dbruns/pet_day1/
